<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feup.cmov.cmov_finance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="feup.cmov.finance.stock.Portfolio">
        <activity
            android:name="feup.cmov.finance.share.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="feup.cmov.finance.share.PortefolioActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="feup.cmov.finance.share.PortefolioActivity" />
        </activity>

        <activity
            android:name="feup.cmov.finance.chart.ChartStockActivity"
            android:label="@string/title_activity_chart_stock"
            android:parentActivityName="feup.cmov.finance.share.PortefolioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="feup.cmov.finance.share.PortefolioActivity" />
        </activity>
        <activity
            android:name="feup.cmov.finance.share.PortefolioActivity"
            android:label="@string/title_activity_portefolio" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="feup.cmov.finance.share.SearchActivity" />
        </activity>
        <activity
            android:name="feup.cmov.finance.chart.PortfolioChartStatisticsActivity"
            android:label="@string/title_activity_chart_statistics_portfolio"
            android:parentActivityName="feup.cmov.finance.share.PortefolioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="feup.cmov.finance.share.PortefolioActivity" />
        </activity>


        <activity android:name="feup.cmov.finance.chart.StockEvolutionActivity"
            android:label="@string/title_activity_chart_statistics_portfolio"
            android:parentActivityName="feup.cmov.finance.share.PortefolioActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="feup.cmov.finance.share.PortefolioActivity" />
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>
